fastapi
langchain-groq
langchain_community
langgraph
uvicorn[standard]
pydantic
python-dotenv
requests
python-multipart
pypdf
langchain-core>=0.1.0
sentence-transformers==2.2.2
scikit-learn
google-genrativeai
pinecone